{%extends 'base.html' %}

{%block content%}
<div class="consent-container">
    <p>We respect and understand your decision to decline participation in our survey. 
        Your privacy and autonomy are of utmost importance to us. Should you have any 
        questions or wish to share feedback without participating, please feel free to 
        contact us. We appreciate your time and consideration, and hope you might consider 
        participating in future studies.</p>
</div>
</body>
{%endblock%}



