{%extends 'base.html' %}

{%block content%}
<div class="consent-container">
    <p>Thank you sincerely for taking the time to participate in our survey. 
        Your insights and contributions are invaluable to our understanding of 
        generative AI image generation tools and their impact. We are grateful 
        for your involvement and willingness to share your perspectives. Your 
        input will play a crucial role in guiding our research and future developments 
        in this field.</p>
</div>
</body>
{%endblock%}
